.column h1{
  color: blue;
}
h1{
  color: red;
}
.anim {
  font-style: italic;
}
.column .anim {
  font-family: cursive;
  color: red;
}

.column .box {
  border: 10px solid green;
  margin: 10px;
  padding-top: 20px;
}

.animalImg {
  width: 150px;
}

@media screen and (min-width: 700px) {
  .column{
    width: 20%;
    float: left;
  }
}

@media screen and (max-width: 600px) and (min-width: 300px){
  .column{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
}
