.column{
  width: 20%;
  float: left;
}
.column h1{
  color: blue;
}
h1{
  color: red;
}
.anim {
  font-style: italic;
}
.column .anim {
  font-family: cursive;
  color: red;
}

.column .box {
  border: 10px solid green;
  margin: 10px;
  padding-top: 20px;
}

.animalImg {
  width: 150px;
}
